@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    U:<input type="text" name="username" value="test" />
    p:<input type="text" name="password" value="test1" />
    <input type="submit" value="Login" />
</form>